# Assignment Content

Download data in CSV format from one of the following sites: here or here. Load the data into a Pandas dataframe. Use Pandas to count the number of rows of data and number of columns. Display the first 8 rows of the dataframe. Display the bottom 3 rows of the dataframe. Display the transpose of the first 4 rows. ​

Your selection of a CSV should have at least 2 columns and at least 10 rows. Include a link to the data source in the Juptyer notebook you submit.​ ​

Modification for advanced students:​

 Load CSV from URL using Pandas or request or another library​

### link to the data source used: 
'https://support.spatialkey.com/wp-content/uploads/2021/02/SacramentocrimeJanuary2006.csv'

In [1]:
!python --version

Python 3.8.5

In [2]:
import pandas as pd

# Loading the data into a Pandas dataframe

In [3]:
url = 'https://support.spatialkey.com/wp-content/uploads/2021/02/SacramentocrimeJanuary2006.csv'
read_csv_data = pd.read_csv(url)

In [4]:
display(read_csv_data)

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
0,1/1/06 0:00,3108 OCCIDENTAL DR,3,3C,1115,10851(A)VC TAKE VEH W/O OWNER,2404,38.550420,-121.391416
1,1/1/06 0:00,2082 EXPEDITION WAY,5,5A,1512,459 PC BURGLARY RESIDENCE,2204,38.473501,-121.490186
2,1/1/06 0:00,4 PALEN CT,2,2A,212,10851(A)VC TAKE VEH W/O OWNER,2404,38.657846,-121.462101
3,1/1/06 0:00,22 BECKFORD CT,6,6C,1443,476 PC PASS FICTICIOUS CHECK,2501,38.506774,-121.426951
4,1/1/06 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613
...,...,...,...,...,...,...,...,...,...
7579,1/31/06 23:36,26TH ST / G ST,3,3B,728,594(B)(2)(A) VANDALISM/ -$400,2999,38.577832,-121.470460
7580,1/31/06 23:40,4011 FREEPORT BLVD,4,4A,957,459 PC BURGLARY BUSINESS,2203,38.537591,-121.492591
7581,1/31/06 23:41,30TH ST / K ST,3,3C,841,TRAFFIC-ACCIDENT INJURY,5400,38.572030,-121.467012
7582,1/31/06 23:45,5303 FRANKLIN BLVD,4,4B,969,3056 PAROLE VIO - I RPT,7000,38.527187,-121.471248
7583,1/31/06 23:50,COBBLE COVE LN / COBBLE SHORES DR,4,4C,1294,TRAFFIC-ACCIDENT-NON INJURY,5400,38.479628,-121.528634

In [5]:
# creating dataframe
dataframe = pd.DataFrame(read_csv_data, index=None)
 
# Count number of rows
rows_count = len(dataframe.axes[0])
 
# Count number of columns
columns_count = len(dataframe.axes[1])

# Count of Number of Rows and Columns

In [6]:
# Count of Number of Rows and Columns
print("Number of rows: " + str(rows_count))
print("Number of columns: " + str(columns_count))

Number of rows: 7584
Number of columns: 9

# Display the first 8 rows of the dataframe

In [7]:
# Display the first 8 rows of the dataframe
print("The first 8 rows of the dataframe : ")
display(dataframe.head(8))

The first 8 rows of the dataframe :

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
0,1/1/06 0:00,3108 OCCIDENTAL DR,3,3C,1115,10851(A)VC TAKE VEH W/O OWNER,2404,38.550420,-121.391416
1,1/1/06 0:00,2082 EXPEDITION WAY,5,5A,1512,459 PC BURGLARY RESIDENCE,2204,38.473501,-121.490186
2,1/1/06 0:00,4 PALEN CT,2,2A,212,10851(A)VC TAKE VEH W/O OWNER,2404,38.657846,-121.462101
3,1/1/06 0:00,22 BECKFORD CT,6,6C,1443,476 PC PASS FICTICIOUS CHECK,2501,38.506774,-121.426951
4,1/1/06 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613
5,1/1/06 0:00,5301 BONNIEMAE WAY,6,6B,1084,530.5 PC USE PERSONAL ID INFO,2604,38.526979,-121.451338
6,1/1/06 0:00,2217 16TH AVE,4,4A,957,459 PC BURGLARY VEHICLE,2299,38.537173,-121.487577
7,1/1/06 0:00,3547 P ST,3,3C,853,484 PC PETTY THEFT/INSIDE,2308,38.564335,-121.461883

# Display the bottom 3 rows of the dataframe

In [8]:
# Display the bottom 3 rows of the dataframe
print("The bottom 3 rows of the dataframe : ")
display(dataframe.tail(3))

The bottom 3 rows of the dataframe :

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
7581,1/31/06 23:41,30TH ST / K ST,3,3C,841,TRAFFIC-ACCIDENT INJURY,5400,38.572030,-121.467012
7582,1/31/06 23:45,5303 FRANKLIN BLVD,4,4B,969,3056 PAROLE VIO - I RPT,7000,38.527187,-121.471248
7583,1/31/06 23:50,COBBLE COVE LN / COBBLE SHORES DR,4,4C,1294,TRAFFIC-ACCIDENT-NON INJURY,5400,38.479628,-121.528634

# Displaying the transpose of the first 4 rows

In [9]:
# Displaying the transpose of the first 4 rows
display(read_csv_data.head(4).T)

,0,1,2,3
cdatetime,1/1/06 0:00,1/1/06 0:00,1/1/06 0:00,1/1/06 0:00
address,3108 OCCIDENTAL DR,2082 EXPEDITION WAY,4 PALEN CT,22 BECKFORD CT
district,3,5,2,6
beat,3C,5A,2A,6C
grid,1115,1512,212,1443
crimedescr,10851(A)VC TAKE VEH W/O OWNER,459 PC BURGLARY RESIDENCE,10851(A)VC TAKE VEH W/O OWNER,476 PC PASS FICTICIOUS CHECK
ucr_ncic_code,2404,2204,2404,2501
latitude,38.5504,38.4735,38.6578,38.5068
longitude,-121.391,-121.49,-121.462,-121.427